@charset "utf-8";

/* nav */

body,
html {
    background-color: #fff;
}

.changtiao {
    width: 100%;
    height: 35px;
    background: #eee;
    display: flex;
    justify-content: center;
}

header {
    width: 1200px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.header_left {
    margin-left: 50px;
    line-height: 35px;
    width: 271px;
    display: flex;
    justify-content: space-between;
}

.header_left li a {
    color: #cc0000;
    font-size: 12px;
    text-decoration: none;
}

.gang {
    color: #c8c8c8;
    font-size: 8px;
}

.header_right {
    width: 518px;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}

.header_right li {
    position: relative;
}

.header_right .shoucang {
    position: absolute;
    height: auto!important;
    width: 95px;
    top: 35px;
    left: -17px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #f5f5f5;
    background: #fff;
    margin: 0px;
    z-index: 9999;
    display: none;
}

.header_right dl dd {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 5px;
    height: 22px;
    line-height: 22px;
}

.header_right dl dd a {
    color: #747474;
    outline: none;
    text-decoration: none;
}

.header_right li a {
    color: #747474;
    font-size: 12px;
    text-decoration: none;
}

.header_right li a:hover {
    color: #cc0000;
}

.logo {
    width: 1200px;
    height: 110px;
    display: flex;
    justify-content: flex-start;
}

.logo_left {
    width: 210px;
    margin-top: 10px;
}

.logo_left img {
    width: 174px;
    height: 80px;
}

.logo_mid {
    width: 740px;
    margin-left: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: flex-start;
}

.logo_mid .search {
    width: 562px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #cc0000;
    margin-top: 26px;
    display: flex;
}

.logo_mid .search .sbox {
    width: 68px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid #B7B7B7;
}

.logo_mid .search .sbox i {
    color: #c8c8c8;
    font-weight: 100;
}

.search input {
    width: 400px;
    margin-left: 22px;
    border: none;
    color: #747474;
    font-size: 14px;
}

.button_search {
    width: 70px;
    height: 38px;
    color: #fff;
    background-color: #cc0000;
    border: none;
    border-radius: 20px;
    outline: none;
}

.button_search {
    font-size: 18px;
    line-height: 38px;
}

.logo_mid img {
    margin-left: 30px;
    height: 40px;
    margin-top: 26px;
}

.logo_mid .tag {
    width: 640px;
    height: 30px;
    margin-left: 18px;
    line-height: 30px;
}

.logo_mid .tag a {
    color: #747474;
    font-size: 12px;
    margin-right: 22px;
    text-decoration: none;
}

.logo_mid .tag a:hover {
    color: #cc0000;
}

.logo_right {
    justify-content: space-between;
}

.logo_right button {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    margin-top: 26px;
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    outline: none;
}

.logo_right button i {
    font-size: 26px;
    color: #747474;
    line-height: 32px;
}

.logo_right button a {
    color: #666;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: none;
}

.nav {
    width: 1200px;
    height: 36px;
    display: flex;
}

.nav_left {
    width: 174px;
    height: 36px;
    font-weight: bold;
    background: #cc0000;
    line-height: 36px;
    text-align: center;
}

.nav_left a {
    font-size: 12px;
    color: white;
    font-family: "Verdana", "Arial", Microsoft Yahei, Arial;
    font-weight: normal;
    text-decoration: none;
}

.nav_right ul {
    justify-content: space-between;
    width: 614px;
    display: flex;
    margin-left: 30px;
    line-height: 36px;
}

.nav_right a {
    text-decoration: none;
}

.nav_right a:hover {
    color: #747474;
}

.searchsort {
    border: 1px solid #E8E8E8;
    width: 1200px;
    height: 35px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
}

.searchsort .paixu {
    width: 416px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}

.searchsort .paixu li {
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #e8e8e8;
    padding: 0 15px 0 15px;
    font-size: 12px;
}

.searchsort .paixu li a {
    color: #747474;
    text-decoration: none;
}

.searchsort .paixu li i {
    font-size: 8px;
    color: #c8c8c8;
}

.listall {
    width: 1200px;
    height: auto;
}

.listbox {
    width: 1200px;
    height: 370px;
    padding: 5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px dotted #e8e8e8;
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.listbox a {
    text-decoration: none;
}

.listbox li {
    border: 1px solid #747474;
    margin-bottom: 5px;
}

.listbox img {
    width: 223px;
    overflow: hidden;
    clear: both;
    margin: auto;
    text-align: center;
    background: #fff;
    position: relative;
}

.listbox p {
    width: 223px;
    text-align: left;
    padding-left: 5px;
    line-height: 24px;
    white-space: normal;
    overflow: hidden;
    margin: auto;
    background: #fff;
    height: 48px;
    font-size: 12px;
}

.listbox .price {
    position: relative;
    font-size: 16px;
    color: #cc0000;
    font-weight: bold;
    display: block;
}

.buynum {
    position: relative;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
}

.listbox .carts {
    color: #cc0000;
    font-size: 12px;
    font-family: "宋体 Std L";
    float: right;
    cursor: pointer;
}

.changepage {
    width: 136px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}

.changepage {
    width: 136px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 35px;
}